.search-page .close-search {
    float: right;
    margin-right: 0;
    padding: 20px;
    color: #bdbbbb;
}

.search-page .close-search:hover {
    color: #696868;
}

.search-page .search-title {
    margin: 100px auto;
    margin-bottom: 1em;
    font-weight: bold;
}

.search-page .search-form .input {
    text-align: center;
}

.search-page .search-form .search-field {
    margin-top: 10px;
    width: 50%;
    height: 55px;
    padding-left: 22px;
    border: 2px solid #bdbbbb;
    border-radius: 25px;
    outline: none;
    font-size: 21px;
}

.search-page .search-results {
    padding: 30px 280px 20px 280px;
    margin: 0;
    list-style-type: none;
    width: 100%;
    height: 500px;
    overflow: auto;
}

.search-page .search-results a {
    text-decoration: none;
    display: block;
    padding: 2rem 0 0.5rem 0;
    padding-left: 15px;
    color: #000;
    font-size: 20px;
    border-bottom: 1px solid #bdbbbb;
}

.search-page .search-results a:hover {
    color: #377bb5;
    font-weight: bold;
    border-bottom: 1px solid #b3b3b3
}

.search-page .search-results .result-subtitle {
    font-size: 16px;
    color: #797878;
}

@media only screen and (max-width: 768px) {
    .search-page .search-form .search-field {
        width: 80%;
        margin-top: 50px;
        height: 40px;
        font-size: 18px;
        padding-left: 16px;
    }

    .search-page .search-results {
        padding: 20px 20px 20px 20px;
        height: 450px;
    }

    .search-page .search-results a {
        font-size: 18px;
    }

    .search-page .search-results a:hover {
        font-weight: 400;
    }

    .search-page .search-results .result-subtitle {
        font-size: 14px;
        color: #797878;
    }
}

.search-page .img-right {
    position: absolute;
    width: 180px;
    bottom: 30px;
    right: 30px;
}

@media only screen and (max-width: 768px) {
    .search-page .img-right {
        display: none;
    }
}