$highlight-background   : var(--code-bg);
$highlight-foreground   : #d8d8d8;
$highlight-comment      : #8aa1b4;
$highlight-red          : #e2777a;
$highlight-orange       : #de935f;
$highlight-yellow       : #f0c674;
$highlight-green        : #99c27c;
$highlight-aqua         : #8abeb7;
$highlight-blue         : #8dbdf8;
$highlight-purple       : #c79cbd;
$highlight-pre          : #5b6164;