$highlight-background   : var(--code-bg);
$highlight-foreground   : #d8d8d8;
$highlight-comment      : #7d8391;
$highlight-red          : #e67b70;
$highlight-orange       : #fec28c;
$highlight-yellow       : #fee89c;
$highlight-green         :#c6eda0;
$highlight-aqua         : #56b6c2;
$highlight-blue         : #87d8fd;
$highlight-purple       : #ee9bfd;
$highlight-pre          : #818896;