---
layout: default
title: About
font: fa-eercast
header-style: text
---

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- CSS -->
        <link href="../css/about.css" rel="stylesheet"/>
    </head>

    <body class="profile-page">
        <div class="container about-header">
            <div class="row">
                <div class="content-info col-md-4">
                    <div class = "photo-container">
                        <img src = "../img/about/avatar.jpg">
                    </div>
                    <h3 class="about-title">Zou Xiaohan</h3>
                    <p class="category">Renovamen</p>
                    <div class="content">
                        <div class="social-description">
                            <a href="https://github.com/Renovamen" target="_blank" class="faa-parent animated-hover">
                                <i class="fa fa-github fa-2x faa-vertical"></i>
                                <p class="font-name">Github</p>
                            </a>
                        </div>
                        <div class="social-description">
                            <a href="http://renovamen.ink" target="_blank" class="faa-parent animated-hover">
                                <i class="fa fa-share-alt fa-2x faa-vertical"></i>
                                <p>Blog</p>
                            </a>
                        </div>
                        <div class="social-description">
                            <a href="https://www.facebook.com/renovamen.zou" target="_blank" class="faa-parent animated-hover">
                                <i class="fa fa-facebook-square fa-2x faa-vertical"></i>
                                <p>Facebook</p>
                            </a>
                        </div>
                        <div class="social-description">
                            <a href = mailto:renovamenzxh@gmail.com class="faa-parent animated-hover">
                                <i class="fa fa-envelope-o fa-2x faa-vertical"></i>
                                <p>Email</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="content-about col-md-8">
                    <h2 class="about-title">Biography</h2>
                    <h5 class="description">Hi! I am <s>a dragon lost in human world</s> a senior 
                        student at <a href="http://sse.tongji.edu.cn/" target="_blank">School 
                        of Software Engineering</a>, <a href="https://www.tongji.edu.cn/" target="_blank">
                        Tongji University</a>. I do not like parrots.</h5>
                    <h5 class="description phone-cv">
                        <a href="../files/cv.pdf" target="_blank">[My CV]</a>
                    </h5>

                    <div class="link-btn">
                        <a href="#publication" class="topLink" data-scroll>
                            <button class="btn btn-default">Publications</button>
                        </a>
                        <a href="#experience" data-scroll>
                            <button class="btn btn-default">Experience</button>
                        </a>
                        <a href="http://renovamen.ink/portfolio/"> 
                            <button class="btn btn-default">Projects</button>
                        </a>
                        <!-- <a href="#award">
                            <button class="btn btn-default">Awards</button>
                        </a> -->
                        <a href="http://renovamen.ink">
                            <button class="btn btn-default">Posts</button>
                        </a>
                        <a href="../files/cv.pdf" target="_blank">
                            <button class="btn btn-default">CV</button>
                        </a>
                        <a href="#misc" data-scroll>
                            <button class="btn btn-default">Misc.</button>
                        </a>
                    </div>

                    <div class="personal-information">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 interests">
                                <div class="item">
                                    <p class="title">Interests</p>
                                    <ul>
                                        <li><p class="int-description">Natural Language Processing</p></li>
                                        <li><p class="int-description">Knowledge Representation & Reasoning</p></li>
                                        <li><p class="int-description"><s>Sleeping and eating</s></p></li>
                                        <li><p class="int-description"><s>The world without parrots</s></p></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="col-md-6 education">
                                <div class="item">
                                    <p class="title"> Education</p>
                                    <ul>
                                        <li>
                                            <p class="edu-description">B.Eng in Software Engineering, 2020</p>
                                            <p class="edu-school">Tongji University</p>
                                        </li>
                                        <li>
                                            <p class="edu-description">Wizard, Gryffindor, 2016</p>
                                            <p class="edu-school">Hogwarts School of Witchcraft and Wizardry</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="down">
            <a href="#publication" data-scroll><i class="icon fa fa-chevron-down"></i></a>
        </div>
        <div class="border"></div>

        <div class="section publication" id="publication">
            <h3 class="about-title">Publications</h3>
            <div class="post-container">
                {% capture about_paper %}{% include about/paper.md %}{% endcapture %}
                {{ about_paper | markdownify }}
            </div>
        </div>
    
        <!-- <div class = "section work-experience" id="experience">
            <h3 class="about-title">Experience</h3>
            <div class="item w-experience-content row">
                <div class="col-md-4 logo">
                    <img class="company-logo" src="../img/about/experience/salted-fish.jpeg">
                </div>
                <div class="col-md-8 work-content">
                    <p class="create-time">2019.9 - Present</p>
                    <p class="job">Waiting for completed</p>
                    <ul>
                        <li>Balabala;</li>
                    </ul>
                </div>
            </div>
        </div>
        -->

        <!-- Experience Section -->
        {% if site.experience %}
        <div class="section work-experience" id="experience" >
            <h3 class="about-title">Experience</h3>
            <div class="row">
                <div class="col-lg-64 col-lg-offset-0">

                    <ul class="timeline">
                        {% for exp in site.experience %}
                        {% if exp.if-left %}
                        <li class="">
                        {% else %}
                        <li class="timeline-inverted">
                        {% endif %}
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{{exp.img}}">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <p class="time">{{exp.time}}</p>
                                    <p class="job">{{exp.job}}</p>
                                </div>
                                <div class="timeline-body">
                                    <p class="job-description">{{exp.description}}</p>
                                </div>
                            </div>
                        </li>
                        {% endfor %}

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../img/about/avatar.jpg">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}


        <!--
        <div class = "section award" id="award">
            <h3 class="about-title">Awards</h3>
            <p class="award-title">Waiting for completed - Balabala | 2019</p>
        </div> -->

        <div class="border"></div> 

        <div class = "section publication" id="misc">
            <h3 class="about-title">Miscellaneous</h3>
            <div class="post-container">
                {% capture about_miscellaneous %}{% include about/miscellaneous.md %}{% endcapture %}
                {{ about_miscellaneous | markdownify }}
            </div>
        </div>

        <script src="../js/sweet-scroll.min.js"></script>
        <script src="../js/scrollreveal.min.js"></script>
        <script>
            // 时间轴上浮效果
            window.sr = ScrollReveal();
            sr.reveal('.timeline-panel');
            sr.reveal('.timeline-image');

            // 页面滚动
            document.addEventListener("DOMContentLoaded", function() {
                new SweetScroll({});
            }, !1);
        </script>

    </body>

</html>


<!-- English Version -->
<!-- <div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div> -->

<!-- Chinese Version -->
<!-- <div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div> -->


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<!--
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
-->
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<!-- 
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script> -->

<!-- disqus 公共JS代码 end -->
{% endif %}
