@import 'vuepress-theme-gungnir/lib/client/styles/vars/_variables.scss';

.about-wrapper {
  font-family: sans-serif;

  .col-md-4 {
    width: 33%;
    float: left;
  }
  .col-md-8 {
    width: 66%;
    float: right;
  }
  .col-md-5 {
    width: 45%;
    float: left;
  }
  .col-md-7 {
    width: 54%;
    float: right;
  }

  .profile {
    height: 100vh;
    position: relative;

    .title {
      font-weight: bold;
      font-size: 30px;
      line-height: 1.4em;
      margin-bottom: 30px;
      text-align: center;
    }

    &__content {
      position: absolute;
      width: 98.5%;
      max-width: 1400px;
      top: 50%;
      left: 0;
      right: 0;
      margin: -275px auto 0;
    }

    &__basic {
      position: absolute;
      margin-top: 100px;

      .avatar {
        margin: 0 auto;
        display: block;
        width: 150px;
        height: 150px;
        cursor: auto;
        padding: 5px;
        border-radius: 100%;
        box-shadow: inset 0 0 10px rgba(179, 179, 179, 0.6);
        transition: transform 1s;

        &:hover {
          transform: rotate(360deg);
        }
      }

      .title {
        margin-top: 65px;
      }

      .subname {
        font-weight: 700;
        color: var(--c-text-sub);
        text-align: center;
        margin-top: -30px;
      }

      .sns {
        text-align: center;
        margin: 50px 0;

        &__item {
          width: 10%;
          display: inline-block;
          vertical-align: middle;

          > a {
            text-decoration: none;
            color: var(--c-text-accent);

            .ov-icon {
              transition: transform .1s;
            }

            &:hover .ov-icon {
              transform: scale(1.3);
            }
          }
        }
      }
    }

    &__info {
      .title {
        max-width: 750px;
      }

      .bio-info {
        max-width: 750px;
        font-size: 18px;
        text-align: left;
        font-weight: 400;

        p {
          line-height: 1.6;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      .personal-info {
        max-width: 750px;
        margin: 20px 15px auto;

        .subtitle {
          margin: 15px 0 -5px 0;
          font-weight: bold;
          font-size: 22px;
          letter-spacing: 1.14px;
        }

        ul {
          padding-left: 19px;
        }

        .interests li {
          margin-bottom: -10px;

          .item {
            font-size: 16px;
          }
        }

        .education {
          .degree {
            font-size: 16px;
            line-height: 30px;
          }

          .school {
            font-size: 15px;
            line-height: 24px;
            margin-top: -15px;
            color: var(--c-text-sub);
          }
        }
      }
    }
  }

  .theme-gungnir-content {
    min-height: 80vh;

    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 700;
      text-align: center;
    }

    p {
      font-size: 18px !important;
      line-height: 28px !important;
    }

    a.header-anchor {
      display: none;
    }
  }
}

@media (max-width: $MQLarge) {
  .about-wrapper {
    padding-right: 20px;
    .profile__basic .sns__item {
      width: 11%;
    }
  }
}

@media (max-width: $MQIpad) {
  .about-wrapper {
    padding-right: 0;

    .profile {
      height: auto;
      min-height: 670px;
      padding: 0 1rem;

      .col-md-4, .col-md-8, .col-md-5, .col-md-7 {
        width: 100%;
        position: relative;
      }

      &__content {
        margin-top: 165px;
        position: relative;
      }

      &__basic {
        padding-left: 0;
        margin-top: 0;

        .sns__item {
          width: 10%;
        }
      }

      &__info {
        .title, .bio-info {
          max-width: 100%;
        }

        .personal-info {
          margin: 20px 0 auto;

          .education {
            padding-bottom: 50px;
          }
        }
      }
    }

    .theme-gungnir-content {
      min-height: auto;
      padding-bottom: 100px !important;
    }
  }
}

@media (max-width: $MQMobileNarrow) {
  .about-wrapper .profile {
    padding: 0 1rem;

    .sns__item {
      min-width: 13%;
    }

    .bio-info {
      font-size: 18px;
    }

    .education {
      margin-top: 20px;
    }
  }

  .about-wrapper .theme-gungnir-content {
    padding-bottom: 50px !important;
  }
}
