<script type="text/javascript">
    LazyLoad.js(['https://sdk.jinrishici.com/v2/browser/jinrishici.js'], function(){
        jinrishici.load(function(result) {
            var poem = document.querySelector('#poem-item');
            var info = document.querySelector('#poem-info');

            if (result.status === "success") {
                var data = result.data
                console.log(data)
                poem.innerHTML = data.content;
                info.innerHTML = '【' + data.origin.dynasty + '】' + data.origin.author + '《' + data.origin.title + '》';
            }
        });
    })
</script>