<!-- Go to Top -->
<!-- This function is borrowed from: https://github.com/mashirozx/Sakura/ -->
<a class="to-top cd-top animated"></a>
<button class="to-top mobileGoTop animated" id="mobileGoTop" title="Go to top">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</button>

<script>
    var offset = 100,
        offset_opacity = 1200,
        scroll_top_duration = 700,
        $back_to_top = $('.to-top');

    $(window).scroll(function () {
        if ($(this).scrollTop() > offset) {
            $back_to_top.addClass('cd-is-visible');
            if ($(window).height() > 950) {
                $(".cd-top.cd-is-visible").css("top", "0");
            } 
            else {
                $(".cd-top.cd-is-visible").css("top", ($(window).height() - 950) + "px");
            }
        } 
        else {
            $(".cd-top.cd-is-visible").css("top", "-900px");
            $back_to_top.removeClass('cd-is-visible cd-fade-out');
        }
        if ($(this).scrollTop() > offset_opacity) {
            $back_to_top.addClass('cd-fade-out');
        }
    });

    // smooth scroll to top
    $back_to_top.on('click', function (event) {
        event.preventDefault();
        $('body,html').animate({
            scrollTop: 0,
        }, scroll_top_duration);
    });

    // mobile
    if (document.body.clientWidth <= 860) {
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("mobileGoTop").style.display = "block";
            } 
            else {
                document.getElementById("mobileGoTop").style.display = "none";
            }
        }
    }
</script>