{% if site.comment.provider == 'disqus' %}
<!-- disqus start -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.comment.disqus_username}}";
    var disqus_identifier = "{{page.id}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus end -->


<!-- Renovamen: support gitalk and valine -->

{% elsif site.comment.provider == 'gitalk' %}
<!-- Gitalk start -->
<link rel="stylesheet" href="{{ "/css/library/gitalk.css" | prepend: site.baseurl }}">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script src="{{ "/js/library/md5.js " | prepend: site.baseurl }}"></script> 
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '{{ site.comment.gitalk.clientID }}',
        clientSecret: '{{ site.comment.gitalk.clientSecret }}',
        repo: '{{ site.comment.gitalk.repo }}',
        owner: '{{ site.comment.gitalk.owner }}',
        admin: '{{ site.comment.gitalk.admin }}',
        id: md5(location.pathname),
        distractionFreeMode: false
    });
    gitalk.render('gitalk-container');
</script>
<!-- Gitalk end -->


{% elsif site.comment.provider == 'valine' %}
<!-- Valine start -->
<script src="https://cdn.jsdelivr.net/npm/valine@1.3.10/dist/Valine.min.js"></script>
<script type="text/javascript">
    new Valine({
        el: '#valine-container',
        appId: '{{site.comment.valine.appID}}',
        appKey: '{{site.comment.valine.appKey}}'
    })
</script>
<!-- Valine end -->
{% endif %}