<!-- add support for mathjax by voleking-->
{% if site.math.enable or page.math %}
    {% if site.math.engine == "mathjax" %}
        {% include enhancements/mathjax.html %}
    {% else %}
        {% include enhancements/katex.html %}
    {% endif %}
{% endif %}

<!-- Renovamen: add support for chart and mermaid -->
{% if site.chart %}
    {% include enhancements/chart.html %}
{% endif %}

{% if site.mermaid %}
    {% include enhancements/mermaid.html %}
{% endif %}

<!-- Renovamen: add support for enhancement emoji -->
{% if site.emoji-plus %}
    {% include enhancements/emoji.html %}
{% endif %}

{% if site.anchorjs %}
    {% include anchor.html %}
{% endif %}