{% comment %}
    @param {string} type - 'page' | 'post' | 'keynote'
    @param {boolean} short
{% endcomment %}

{% if include.type == 'post' or include.type == 'page' %}
    {% if page.homepage != true %}
    <style type="text/css">
        header.intro-header{
            position: relative;
            background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');
            background: {{ page.header-bg-css }};
        }

        {% if page.header-mask %}
        header.intro-header .header-mask{
            width: 100%;
            height: 100%;
            position: absolute;
            background: {{ page.header-mask }};
        }
        {% endif %}
    </style>
    
    {% else %}
    <style type="text/css">
        header.intro-header{
            position: relative;
            background-image: url('{{ site.baseurl }}/{{ site.header-img[0].url }}');
            background: {{ page.header-bg-css }};
        }

        {% if site.header-img[0].mask %}
        header.intro-header .header-mask{
            width: 100%;
            height: 100%;
            position: absolute;
            background: {{ site.header-img[0].mask }};
        }
        {% endif %}
    </style>
    {% endif %}
{% endif %}


{% if include.type == 'post' %}
{% if page.header-style == 'text' %}
<header class="intro-header style-text" >
{% else %}
<header class="intro-header" >
{% endif %}
    <div class="header-mask"></div>
    {% if page.header-img-credit %}
    <div class="header-img-credit">
        Image by <a href="//{{page.header-img-credit-href}}">{{page.header-img-credit}}</a>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="{{ site.baseurl }}/archive/?tag={{ tag | url_encode }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% comment %} always create a h2 for keeping the margin {% endcomment %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}


{% if include.type == 'keynote' %}
<style type="text/css">
    header.intro-header{
        height: 500px;
        overflow: hidden;
    }
    header.intro-header .container{
        visibility: hidden; 
    }
    header iframe{
        width: 100%;
        height: 100%;
        border: 0;
    }
</style>
<header class="intro-header" >
    <iframe src="{{page.iframe}}"></iframe>
    <!-- keep for SEO -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {% for tag in page.tags %}
                        <a class="tag" href="{{ site.baseurl }}/archive/?tag={{ tag | url_encode }}" title="{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <h1>{{ page.title }}</h1>
                    {% comment %} always create a h2 for keeping the margin {% endcomment %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}
                        on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}


{% if include.type == 'page' %}
<header class="intro-header" id="intro-header">
    <div class="header-mask" id="header-mask"></div>

    {% if page.homepage == true %}
    <a class="img-prev" onclick="changeImage(-1)">
        <i class="fa fa-angle-left"></i>
    </a>
    <a class="img-next" onclick="changeImage(1)">
        <i class="fa fa-angle-right"></i>
    </a>

    <div class="headertop-down faa-float animated"> 
        <a href="#container" data-scroll>
            <i class="fa fa-chevron-down" ></i>
        </a>
    </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% if page.homepage == true %}
                <div class="header-avatar">
                    <a href="{{site.baseurl}}" >
                        <img src="{{site.baseurl}}/img/header-avatar.jpeg">
                    </a>
                </div>

                <!-- 手机端隐藏 -->
                <div class="header-info-back">
                    <div class="site-heading">
                        <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                        <span class="subheading">{{ page.description }}</span>
                    </div>
                </div>

                <!-- 只在手机端显示 -->
                <div class="site-heading phone-site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>

                {% else %}
                {% if include.short %}
                <div class="site-heading" id="tag-heading">
                {% else %}
                <div class="site-heading">
                {% endif %}
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</header>
{% endif %}


{% if page.homepage %}
<script src="../js/sweet-scroll.min.js"></script>

<script>
// 页面平滑滚动
document.addEventListener("DOMContentLoaded", function() {
    new SweetScroll({});
}, !1);

function headerResize() {
    //console.log(document.body.clientWidth)
    $('.intro-header').css({
        'height': $(window).height() + "px"
    });

    $('.img-prev').css({
        'top': $(window).height() / 2 - 30 + "px"
    });

    $('.img-next').css({
        'top': $(window).height() / 2 - 30 + "px"
    });

    $('.header-avatar').css({
        'display': 'block',
        'padding-top': $(window).height() / 2 - 140 + "px"
    });

    $('.site-heading h1').css({
        'font-size': '25px',
        'font-family': 'Montserrat',
    });

    $('.site-heading .subheading').css({
        'font-size': '18px',
        'font-family': 'Noto Serif JP',
    });

    window.resizeFlag= null;
    $(window).resize(function () {
        //直接 resize 性能爆炸，改成延时
        if(resizeFlag = null){
            clearTimeout(resizeFlag);
        }
        resizeFlag = setTimeout(function(){ headerResize();}, 1000);
    })
}

// 首页图片高度适配
if(document.body.clientWidth > 1024) {
    headerResize();
}
</script>
{% endif %}



<script>
function changeImage(n) {

    headerImgList = '[{{site.header-img}}]'.replace(/=>/g,":").replace(/}{/g,"},{");
    headerImgList = $.parseJSON(headerImgList);
    len = headerImgList.length

    introHeader = document.getElementById("intro-header");
    curImgURL = getComputedStyle(introHeader, null).backgroundImage;

    for(i=0; i<len; i++) {
        iURL = '{{site.simpleurl}}' + '/' + headerImgList[i].url

        if(curImgURL.indexOf(iURL) != -1) {
            newImg = headerImgList[(i + n + len) % len]
            $(".intro-header").css("background-image", 'url("{{ site.baseurl }}/' + newImg.url + '")');
            
            if(newImg.mask) $(".header-mask").css("background", newImg.mask);
            else $(".header-mask").css("background", "rgb(0, 0, 0, 0)");
        }
    }
}
</script>