<!-- add support for mathjax by voleking-->
{% if site.math.enable or page.math %}
    {% if site.math.engine == "mathjax" %}
        {% include additional/mathjax.html %}
    {% else %}
        {% include additional/katex.html %}
    {% endif %}
{% endif %}

<!-- Renovamen: add support for chart and mermaid -->
{% if site.chart %}
    {% include additional/chart.html %}
{% endif %}

{% if site.mermaid %}
    {% include additional/mermaid.html %}
{% endif %}

<!-- Renovamen: add support for additional emoji -->
{% if site.emoji-plus %}
    {% include additional/emoji.html %}
{% endif %}

<!-- comment -->
{% if site.comment.provider %}
    {% include comment/script.html %}
{% endif %}


{% if site.anchorjs %}
    {% include anchor.html %}
{% endif %}

<!-- 
    Renovamen: show bibtex of publications
    Chaos code... 
-->
<script>
    function bibTex(bib_btn, bib_block) {
        // if the citation is in footnote
        $bib_btn = $('#' + bib_btn.id);
        if($bib_btn.parents('.footnotes').length) {
            $bib_btn.parents('li').append($bib_block);
        }
        
        $bib_block = $('#' + bib_block.id);

        if($bib_block.css("display") == "none") $bib_block.css("display", "block");
        else $bib_block.css("display", "none");
    
        $bibText = $bib_block.find('.rouge-code').find('pre');
        var textList = $bibText.text().split('\n');
        if(textList[0].substr(0, 2) == '  ') {
            for(let i in textList) {
                textList[i] = textList[i].slice(2);
            }
            $bibText.text(textList.join('\n'));
        }
    }
</script>