<!-- add support for mathjax by voleking-->
{% if site.math.enable or page.math %}
    {% if site.math.engine == "mathjax" %}
        {% include additional/mathjax.html %}
    {% else %}
        {% include additional/katex.html %}
    {% endif %}
{% endif %}

<!-- Renovamen: add support for chart and mermaid -->
{% if site.chart %}
    {% include additional/chart.html %}
{% endif %}

{% if site.mermaid %}
    {% include additional/mermaid.html %}
{% endif %}

<!-- Renovamen: add support for additional emoji -->
{% if site.emoji-plus %}
    {% include additional/emoji.html %}
{% endif %}

<!-- comment -->
{% if site.comment.provider %}
    {% include comment/script.html %}
{% endif %}

{% if site.anchorjs %}
    {% include anchor.html %}
{% endif %}

<!-- Renovamen: add support 今日诗词: https://www.jinrishici.com/ -->
{% include author/script.html %}