.links-page {
    margin: 0 auto;
    background-color: var(--bg-transparent);
    h2, span, .desc {
        @include gungnir-font();
    }
    .link-list {
        margin-bottom: 80px;
        .section-title {
            font-weight: 400;
            font-size: 18px;
            padding-left: 10px;
            border-left: 3px solid var(--primary-color);
            margin: 50px 0 20px
        }
        ul {
            margin: 0;
            list-style: none;
            padding: 0;
            width: 100%;
            display: inline-block;
            li {
                width: 32%;
                height: 98px;
                float: left;
                border: 1px solid var(--border-color);
                padding: 10px 30px 10px 20px;
                margin: 4px 4px;
                position: relative;
                overflow: hidden;
                border-radius: 10px;
                @include transition(all .3s);
                &:before {
                    content: "";
                    background-color: var(--primary-color);
                    -webkit-transform: skew(45deg, 0);
                    transform: skew(45deg, 0);
                    width: 0;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: -60px;
                    z-index: -1;
                    @include transition(all .5s);
                }
                a {
                    text-decoration: none;
                }
                img {
                    cursor: auto;
                    padding: 2px;
                    border-radius: 100%;
                    max-width: 100%;
                    float: right;
                    box-shadow: inset 0 0 10px #000;
                    margin-top: 5px;
                    margin-right: -15px;
                    width: 65px;
                    height: 65px;
                    @include transition(all ease 1s);
                }
                &:hover {
                    border: 1px solid var(--primary-color);
                    img {
                        @include transform(rotate(360deg));
                    }
                    &:before {
                        width: 180%
                    }
                    .desc {
                        border-top: 1px dashed #fff
                    }
                }
                span.sitename {
                    color: var(--primary-color);
                    padding-bottom: 10px;
                    display: block;
                    @include transition(all .3s);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    white-space: nowrap;
                    font-weight: 600;
                }
                .desc {
                    color: var(--body-gray);
                    font-size: 13px;
                    padding: 10px 0;
                    border-top: 1px dashed #ddd;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    line-height: 15px;
                    @include transition(all .5s);
                }
            }
        }
    }
    @include small {
        .link-list ul li {
            width: 100% !important
        }
    }
    
    @include ipad {
        .link-list ul li {
            width: 48.6%;
            &:before {
                display: none
            }
        }
    }
}