.portfolio {
    margin-top: 5em;

    h1, h2, h3, h4, h5, h6, p, button, span {
        @include gungnir-font();
    }

    .item {
        -webkit-box-shadow: none;
        box-shadow: none;
        @include small {
            -webkit-box-shadow: var(--pub-shadow);
            box-shadow: var(--pub-shadow);
        }
    }
}