{%- include utils/get-assets-baseurl.html -%}
{%- assign _assets_baseurl = __return -%}

<div class="section publications">
    <h3 class="about-title">Publications</h3>
    {% for pub in site.publications %}
    <article class="item">
        {% if pub.img %}
            <a class="item-thumbnail" style="background-image: url({{ _assets_baseurl }}/{{ pub.img }})"></a>
        {% else %}
        {% endif %}
        <div class="item-content">
            <h2 class="item-title">{{pub.title}}</h2>
            <p>{{ pub.content }}</p>
        </div>
    </article>
    {% endfor %}
</div>