/*  ------------------- Fonts style ------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
    font-weight: 400;
    font-family: "Montserrat";
}

h1,
.h1 {
    font-size: 3.5em;
    line-height: 1.15;
    margin-bottom: 30px;
}

h2,
.h2 {
    font-size: 2.2em;
    margin-bottom: 30px;
}

h3,
.h3 {
    font-size: 2em;
    margin-bottom: 30px;
    line-height: 1.4em;
}

h4,
.h4 {
    font-size: 1.714em;
    line-height: 1.45em;
    margin-top: 30px;
    margin-bottom: 15px;
}

h5,
.h5 {
    font-size: 1.32em;
    line-height: 1.4em;
    margin-bottom: 15px;
}

h6,
.h6 {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    line-height: 1.61em;
}

.description p,
p.description {
    font-size: 1.14em;
}

.about-title {
    font-weight: 600;
}

.about-title+.category {
    margin-top: -25px;
}

.description {
    font-weight: 300;
}

.category {
    font-weight: 700;
    color: #797878;
}

.profile-page {
    font-family: "Montserrat";
    margin-top: 150px;
    min-height: 550px;
}

/*  ------------------- Header Page style ------------------- */

img {
    max-width: 100%;
    border-radius: 1px;
}

.profile-page .about-header {
    min-height: 670px;
    margin-bottom: -150px;
}

@media only screen and (max-width: 1024px) {
    .profile-page .about-header {
        margin-bottom: 0;
    }
}

.profile-page .photo-container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
}

.profile-page .photo-container img {
    border-radius: 100%;
    box-shadow: inset 0 0 10px rgba(179, 179, 179, 0.6);
    padding: 5px;
    opacity: 1;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
}

.profile-page .photo-container img:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg)
}

.profile-page .about-title {
    text-align: center;
    margin-top: 30px;
}

.profile-page .content-about .about-title {
    margin-top: 0;
}

.profile-page .content-about .phone-cv {
    display: none;
}

@media only screen and (max-width: 768px) {
    .profile-page .content-about .about-title {
        margin-top: 30px;
    }
    .profile-page .content-about h5.phone-cv a {
        color: #377bb5;
    }

    .profile-page .content-about .phone-cv {
        display: block;
        margin-top: -3em;
    }
}

.profile-page .description,
.profile-page .category {
    text-align: center;
}

.profile-page h5.description {
    max-width: 700px;
    margin: 20px auto 75px;
    font-weight: 400;
}

.profile-page h5.description a {
    text-decoration: none;
}

.profile-page h5.description a:hover {
    color: #377bb5;
}

.profile-page .content-about .biography {
    font-size: 18px;
}

.profile-page .content {
    margin: 0 auto;
}

.profile-page .content .social-link {
    display: inline-block;
    width: 23%;
    text-align: center;
    margin: 55px 0 0px;
}

.profile-page .content .social-link > a {
    text-decoration: none;
    color: #377bb5;
}

.profile-page .content .social-link > a:hover .fa {
    transform: scale(1.3);
}

@media only screen and (max-width: 768px) {
    .profile-page .content .social-link {
        margin: 0 0 0px;
    }
}


/*  ------------------- Personal Information style ------------------- */

.section {
    padding: 50px 0;
    position: relative;
    background: #FFFFFF;
}

.personal-information {
    margin: 0 auto;
    width: 100%;
}

.courses .item,
.skill .item {
    padding-left: 20px;
}

.item ul {
    padding-left: 15px;
}

.item .title {
    margin: 15px 0;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.14px;
}

.item p,
.item li,
.item lable {
    font-size: 14px;
    line-height: 24px;
}

.interests .item li {
    margin-bottom: -20px;
}

.item lable {
    font-family: Courier;
    background: #E4EEF6;
    padding: 3px;
    margin-right: 8px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 2px;
    vertical-align: top;
}

.interests .int-description {
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .education {
        margin-top: 50px;
    }
}

.education .edu-description {
    font-size: 18px;
}

.education .edu-school {
    font-size: 15px;
    margin-top: -30px;
    color: #797878;
}

.phone,
.email {
    margin-top: 10px;
}


/*   ------------------- Down Arrow Style -------------------  */
.down {
    color: #797878;
    text-align: center;
    position: absolute;
    top: 635px;
    width: 100%;
    display: block;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .down {
        display: none;
    }
}

.down i {
    font-size: 28px;
    transition: .4s ease;
}

.down i:active,
.down i:hover {
    color: #377bb5
}

/*  ------------------- Link Button style ------------------- */
.link-btn {
    margin-top: -50px;
    margin-bottom: 40px;
    text-align: center;
}

.link-btn a {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .link-btn {
        display: none;
    }
}

.link-btn .btn,
.btn-default {
    border-radius: 10px;
    padding: 0.3em 1.3em;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 12px;
}

/*  ------------------- Experience style ------------------- */
.work-experience {
    width: 85%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
    .work-experience {
        width: 80%;
        margin-bottom: 0;
    }
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -40px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 2;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #f1f1f1;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.job {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media only screen and (min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media only screen and (min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li:last-child {
        margin-bottom: -80px;
    }
}

.timeline-heading p.time {
    color: #797878;
}

.timeline-heading p.job {
    font-weight: bold;
    font-size: 18px;
    margin-top: -30px;
    margin-bottom: 10px;
}

.timeline-body p.job-description {
    margin-top: -10px;
    font-size: 16px;
}

/* 
.w-experience-content {
    border-bottom: 1px solid #D6DCE1;
    padding: 30px 0;  
}
.w-experience-content:last-child {
    border-bottom: none;
}

.company-logo {
    margin: 20px 0 0 20px;
    max-width: 250px;
}
.work-content p.create-time {
    font-size: 14px;
    letter-spacing: 1px;
}
.work-content p.job {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.14px;
    margin-top: -30px; 
    margin-bottom: 10px; 
}
.work-content li {
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .profile-page .work-experience .about-title, 
    .profile-page .publication .about-title, 
    .profile-page .award .about-title {
        margin-top: -20px;
    }
} */

/*  ------------------- Publication style ------------------- */
.post-container {
    margin: 0 auto;
    width: 65%;
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .post-container {
        width: 85%;
    }
}


/*  ------------------- Award style ------------------- */

.award {
    width: 60%;
    margin: 0 auto;
    text-align: center
}

.award p.award-title {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1.14px;
    margin-bottom: 10px;
}

/*  ------------------- Border style ------------------- */
.border {
    border-bottom: 1px solid #D6DCE1;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .border {
        display: none;
    }
}