// Sidebar Components

// Large Screen
@media (min-width: 1200px){
    .post-container, .sidebar-container{
        padding-right: 5%;
    }
}
@media (min-width: 768px){
    .post-container{
        padding-right: 5%;
    }
}

// Container of Sidebar
.sidebar-container{
    color: $gray-l;
    font-size: 14px;
    h5{
        color: $gray;
        padding-bottom: 1em;
        a{
            color: $gray !important;
            text-decoration: none;
        }
    }
    a{
        color: $gray-l !important;
        &:hover, &:active{
            color: var(--primary-color) !important;
        }
    }
    .tags{
        a{
            border-color: $gray-l;
            &:hover, &:active{
                border-color: var(--primary-color);
            }
        }
    }
    @include hide-scrollbar();
}
