---
layout: default
---

<div class="about-page">
    <div class="about-blank"></div>
    
    {% include about/header.html %}

    <div class="down faa-float animated">
        <a onclick="smoothTo('#other-info')">
            <i class="fa fa-chevron-down"></i>
        </a>
    </div>
    <div class="border" id="other-info"></div>
    
    {% if site.publications.size > 0 %}
        {% include about/publications.html %}
    {% endif %}

    <!-- Experience Section -->
    {% if site.experiences.size > 0 %}
        {% include about/experiences.html %}
    {% endif %}
    
    <div class="section">
        <div class="post-container">
            {% capture about_other %}{% include about/md/other.md %}{% endcapture %}
            {{ about_other | markdownify }}
        </div>
    </div>
</div>