<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    <div class="main-container">
    {% include navbar/nav.html %}

    {{ content }}

    {% include footer.html %}
    </div>

    <!-- Renovamen: modify styles of navbar on mobile -->
    {% include navbar/mobile-nav.html %}

    <!-- add menu button -->
    {% include menu.html %}

    <!-- support search -->
    {% include search.html %}

    {%- include utils/get-cdn.html -%}
    {%- assign _cdn = __return -%}

    <script src="{{ "/js/library/animatedModal.min.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="{{ _cdn.animate-css }}">

    <script>
        // search page pop out animation
        $("#search-btn").animatedModal();
        $("#menu-search-btn").animatedModal();

        function autoFocus() {
            setTimeout(function () {
                document.querySelector('.search-page input').focus();
            }, 400);
        }
    </script>
    
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
