---
layout: default
---

<!-- Borrowed a lot from: https://github.com/mashirozx/Sakura/ -->

<!-- Page Header -->
{% include intro-header.html type='page' short=true %}

<div class="links-page container"> 
    <div class="link-list">
        {% if page.links %}
            {% for group in page.links %}
                <h3 class="section-title">{{group.type}}</h3>
                <ul>
                    {% for item in group.items %}
                        <li>
                            <a href="{{ item.url }}" target="_blank">
                                <img src="{{ item.img | default: '../img/links/default.jpg' }}">
                                <span class="sitename">{{item.sitename}}</span>
                                <div class="desc">{{item.desc}}</div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
    </div>
</div>