---
layout: default
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container" id="container">
	<div class="row">
    <!-- PostList Container -->
    {% if site.theme_style.post_preview != 'text' %}
    <div class="postlist-container">
    {% else %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 postlist-container">
    {% endif %}
      {{ content }}
    </div>
	</div>
</div>

{% if site.page-mathjax %}
<!-- Add support for Mathjax by Voleking-->
<!-- If you want to see formulars well in post preview, Maybe you should add this.-->
<!-- However, most of the time formulars may not appear in the post preview, you can delete it.-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
    }
  });
</script>

{%- include utils/get-cdn.html -%}
{%- assign _cdn = __return -%}
<script type="text/javascript" src="{{ _cdn.mathjax.page }}"></script>
{% endif %}