---
layout: default
---

<!-- Image to hack wechat -->
<!-- <img src="{{ site.baseurl }}/{{ page.header-img }}" width="0" height="0"> -->

<!-- Post Header -->
{% include intro-header.html type='post' %}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

    <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                <!-- Multi-Lingual -->
                {% if page.multilingual %}
                    {% include multilingual/selector.html %}
                {% endif %}

				{{ content }}

                <hr style="visibility: hidden;">
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">
                        Previous<br>
                        <span>{{page.previous.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">
                        Next<br>
                        <span>{{page.next.title}}</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <hr style="visibility: hidden;">

                </div>
                {% if site.comment.provider %}
                    {% include comment/container.html %}
                {% endif %}
            </div>  

            <!-- Side Catalog Container -->
            {% if page.catalog %}
                {% include catalog/container.html %}
            {% endif %}
        </div>
    </div>
</article>

<!-- add support for mathjax by voleking-->
{% if site.mathjax %}
  {% include enhancements/mathjax_support.html %}
{% endif %}


<!-- Renovamen: add support for chart and mermaid -->
{% if site.chart %}
  {% include enhancements/chart.html %}
{% endif %}

{% if site.mermaid %}
  {% include enhancements/mermaid.html %}
{% endif %}


<!-- comment -->
{% if site.comment.provider %}
    {% include comment/script.html %}
{% endif %}


{% if site.anchorjs %}
    {% include anchor.html %}
{% endif %}