// Variables

$gray-dark: lighten(black, 20%);
$gray-little-dark: lighten(black, 50%);
$gray: gray;
$gray-l: lighten(black, 75%);
$white-faded: rgba(white, .8);
$gray-light: #eee;

// Renovamen: add variables for additional styles
$tag-text: #fff;
$success: #52c41a;
$info: #1890ff;
$warning: #fa8c16;
$error: #f5222d;

// $a: #4793d4;